alexis-workflow-M3q5lWIm3kxhnW6n.json
{"createdAt":"2025-03-17T15:23:53.592Z","updatedAt":"2025-03-17T15:50:48.857Z","id":"M3q5lWIm3kxhnW6n","name":"Alexis workflow","active":false,"nodes":[{"parameters":{"updates":["messages"]},"id":"075f2924-fac4-4c36-825c-b38db28bcc93","name":"WhatsApp Trigger","type":"n8n-nodes-base.whatsAppTrigger","position":[-800,580],"webhookId":"0b1b3a9b-2f6a-4f5a-8385-6365d96f4802","typeVersion":1},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.audio.id }}"},"id":"25fbb4d0-2e56-4a6a-8275-3bd9aed3a363","name":"Get Audio URL","type":"n8n-nodes-base.whatsApp","position":[0,120],"typeVersion":1,"webhookId":"2e814afc-7e16-4e0b-a819-f9d456df2a22"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.video.id }}"},"id":"1ea256d2-2780-41f1-8da5-745003aa16b4","name":"Get Video URL","type":"n8n-nodes-base.whatsApp","position":[0,480],"typeVersion":1,"webhookId":"db93b3db-aeb8-47de-ae68-653bfb7191f4"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.image.id }}"},"id":"048841d7-c5dd-4664-b7a8-047ae6c198b9","name":"Get Image URL","type":"n8n-nodes-base.whatsApp","position":[0,820],"typeVersion":1,"webhookId":"50139240-b00a-4bb1-b88e-fb6e42f38c3b"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"7ac225b3-bf5b-48bd-8676-fba17ee697af","name":"Download Video","type":"n8n-nodes-base.httpRequest","position":[160,480],"typeVersion":4.2},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"3a8e4a1e-9f5e-4070-b454-d44ede10c8cc","name":"Download Audio","type":"n8n-nodes-base.httpRequest","position":[160,120],"typeVersion":4.2},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"0cb1617c-e4ec-48b5-895e-fa21e9a92b83","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[200,820],"typeVersion":4.2},{"parameters":{"sessionIdType":"customKey","sessionKey":"=whatsapp-tutorial-{{ $json.from }}"},"id":"537a3127-b41a-43fd-8eeb-88cbffc76e7c","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[2120,900],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"d990cbd6-a408-4ec4-a889-41be698918d9","name":"message_type","type":"string","value":"={{ $('Split Out Message Parts').item.json.type }}"},{"id":"23b785c3-f38e-4706-80b7-51f333bba3bd","name":"message_text","type":"string","value":"={{ $json.text }}"},{"id":"6e83f9a7-cf75-4182-b2d2-3151e8af76b9","name":"from","type":"string","value":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}"},{"id":"da4b602a-28ca-4b0d-a747-c3d3698c3731","name":"message_caption","type":"string","value":"={{ $('Redirect Message Types').item.json.video && $('Redirect Message Types').item.json.video.caption || '' }}\n{{ $('Redirect Message Types').item.json.image && $('Redirect Message Types').item.json.image.caption || ''}}\n{{ $('Redirect Message Types').item.json.audio && $('Redirect Message Types').item.json.audio.caption || ''}}"}]},"includeOtherFields":true,"options":{}},"id":"7df37141-a400-4733-9f12-d91ae87fe2cf","name":"Get User's Message","type":"n8n-nodes-base.set","position":[1940,660],"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"messages","options":{}},"id":"9e4d704d-e179-4115-bd8e-587c798902f9","name":"Split Out Message Parts","type":"n8n-nodes-base.splitOut","position":[-560,580],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.type == 'audio' && Boolean($json.audio) }}","rightValue":"audio"}]},"renameOutput":true,"outputKey":"Audio Message"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"82aa5ff4-c9b6-4187-a27e-c7c5d9bfdda0","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.type == 'video' && Boolean($json.video) }}","rightValue":""}]},"renameOutput":true,"outputKey":"Video Message"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"05b30af4-967b-4824-abdc-84a8292ac0e5","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.type == 'image' && Boolean($json.image) }}","rightValue":""}]},"renameOutput":true,"outputKey":"Image Message"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Text Message"}},"id":"f8faac7f-286e-4e59-9bc4-f3f72904258b","name":"Redirect Message Types","type":"n8n-nodes-base.switch","position":[-280,660],"typeVersion":3.2},{"parameters":{"content":"### 2. Transcribe Audio Messages 💬\nFor audio messages or voice notes, we can use GPT4o to transcribe the message for our AI Agent.","height":97.23360184119679,"width":356.65822784810103,"color":7},"id":"0f9b11ff-c67b-4b1a-adf6-6ca43d113028","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"### 3. Describe Video Messages 🎬\nFor video messages, one approach is to use a Multimodal Model that supports parsing video. Currently, Google Gemini is a well-tested service for this task. We'll need to use the HTTP request node as currrently n8n's LLM node doesn't currently support video binary types.","height":127.13555811277331,"width":492.5258918296896,"color":7},"id":"4009ee4a-6e0a-4dc6-9e50-a98aa154db04","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[0,320],"typeVersion":1},{"parameters":{"content":"### 4. Analyse Image Messages 🏞️\nFor image messages, we can use GPT4o to explain what is going on in the message for our AI Agent.","height":97.23360184119679,"width":356.65822784810103,"color":7},"id":"19e05430-81fe-4087-a7bf-c374cee38dfa","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[0,700],"typeVersion":1},{"parameters":{"content":"### 5. Text summarizer 📘\nFor text messages, we identify if the message starts with http* (i.e. is it a link) if so, then use HTTP Request to GET Url content to be processed/summarised by Model, otherwise get the message text and process","height":537,"width":828,"color":7},"id":"55f0ca21-48d7-48cc-bfea-6adafdee14cf","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-20,1000],"typeVersion":1},{"parameters":{"amount":0},"id":"45797e97-4c27-4c96-b70c-64e755d09661","name":"Get Text","type":"n8n-nodes-base.wait","position":[0,1120],"webhookId":"99b49c83-d956-46d2-b8d3-d65622121ad9","typeVersion":1.1},{"parameters":{"content":"## Generate Response with AI Agent\n\nCreate a simple AI Agent which responds to our WhatsApp user's message using the different tools provided to process the task and return a simple text message response.","height":273.14522439585744,"width":500.7797468354428,"color":7},"id":"be233791-18c8-48e2-8ce3-c06e15a17466","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2020,320],"typeVersion":1},{"parameters":{"content":"## Respond to WhatsApp User\nEventually add in Message response Types here (to respond using Voice Note / Video / Document etc...\n\nAlso configure message templates & flows ","height":211.45776754890682,"width":384.12151898734186,"color":7},"id":"a1621fef-2df8-4ee6-b4af-7511849c3266","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2780,420],"typeVersion":1},{"parameters":{"operation":"send","phoneNumberId":"=608566788999605","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{}},"id":"3ef58060-cfa3-4666-92d9-aa76c60bae9e","name":"Respond to User","type":"n8n-nodes-base.whatsApp","position":[2940,660],"typeVersion":1,"webhookId":"0d80315a-a830-48a9-a701-734fa907934c"},{"parameters":{"content":"**A WhatsApp interface to manage your business**\n\nBuilt using n8n, OpenAI, Gemini, WhatsApp, Supabase, Jina.ai +anything else you need\n\n\n**Key Value Proposition:**\n Send a Voice Note, Photo or Text Message to your WhatsApp Contact “MyAdminMate”) to use a number of Business management Tools  \n\n**Solution Overview:**\nA single n8n workflow that listens (using a dedicated WhatsApp listener) for inbound messages of any format supported across WhatsApp (Audio/Video/Document/Text) and will process the message, identify the required Tool to be used to process the request, run the business process, and then respond to the user via the same WhatsApp conversation.    \n\n-Requires Meta Developer & Business Accounts for Solution operator -Currently requires Supabase, OpenAI, Gemini, jina.ai subscriptions    ","height":562.8608514850005,"width":470.66513233601853},"id":"6e058a78-991b-44f4-95b2-2e2fa9626382","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-1360,140],"typeVersion":1},{"parameters":{"promptType":"define","text":"Here is an image sent by the user. Describe the image and transcribe any text visible in the image.\n\nIf the image looks like a till receipt or other image that could be an expenses receipt, please identify the following fields for subsequent processing:  Date, Time, Total Amount, VAT Amount, Payee, Description","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]}},"id":"ad18335d-2801-4a5b-b10b-028135df0976","name":"Image Explainer","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1000,720],"typeVersion":1.4},{"parameters":{"assignments":{"assignments":[{"id":"2ec0e573-373b-4692-bfae-86b6d3b9aa9a","name":"text","type":"string","value":"={{ $json.candidates[0].content.parts[0].text }}"}]},"options":{}},"id":"83b1b6fc-07fc-4b05-bd72-52049b1e4f2b","name":"Format Response","type":"n8n-nodes-base.set","position":[840,480],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-002:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Transcribe this audio\"},\n      {\"inlineData\": {\n        \"mimeType\": `audio/${$binary.data.fileExtension}`,\n        \"data\": $input.item.binary.data.data }\n      }\n    ]\n  }]\n}\n}}","options":{}},"id":"da9f774e-4468-41ae-9b44-75bd1f3a6222","name":"Google Gemini Audio","type":"n8n-nodes-base.httpRequest","position":[600,120],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-002:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Describe this video\"},\n      {\"inlineData\": {\n        \"mimeType\": `video/${$binary.data.fileExtension}`,\n        \"data\": $input.item.binary.data.data }\n      }\n    ]\n  }]\n}\n}}","options":{}},"id":"79d95da1-c7dd-404b-94c2-95cd68cc3ad7","name":"Google Gemini Video","type":"n8n-nodes-base.httpRequest","position":[600,480],"typeVersion":4.2},{"parameters":{"modelName":"models/gemini-1.5-pro-002","options":{}},"id":"d2e8678f-b05a-472e-b588-9856a1ed1641","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1000,900],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"2ec0e573-373b-4692-bfae-86b6d3b9aa9a","name":"text","type":"string","value":"={{ $json.candidates[0].content.parts[0].text }}"}]},"options":{}},"id":"5afdf3fd-0e52-4c68-a062-d475d55db14d","name":"Format Response1","type":"n8n-nodes-base.set","position":[840,120],"typeVersion":3.4},{"parameters":{"promptType":"define","text":"={{ $json.data }}","messages":{"messageValues":[{"message":"Summarize the user's message succinctly."}]}},"id":"e27645de-d788-4e47-a04f-4cadce7f2572","name":"Text Summarizer","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1020,1100],"typeVersion":1.4},{"parameters":{"promptType":"define","text":"=The user sent the following message\nmessage type: {{ $json.message_type }}\nmessage text or description:\n```{{ $json.message_text }}```\n{{ $json.message_caption ? `message caption: ${$json.message_caption.trim()}` : '' }}","options":{"systemMessage":"You are a general knowledge assistant designed to support a sole trader or independent contractor to manage the admin of their business via whatsapp. Help answer the user's query succinctly and factually and use ONLY formatting suitable for use within a whatsapp message\n\nUse the GetContractors tools to get the data on the Contractor account using the Mobile number as the filter.  Please store the Contractor record and make it available as JSON Object called Contractor with each of the fields as attributes with associated values.\n\nUse the GetCustomers tool to get all customer records for the current ContractorID using the Mobile number as the filter. This should return Customer Name, Customer ID and Customer Email, and Customer Mobile records\n\nUse the AddCustomer Tool to create new customer entries \n\nUse the AddQuote tool to add a new quote for a customer\n\nUse the SendQuote tool to generate a new Message that will be sent to the Customer.  Use the Quote template stored in. the Contractor Record to format the QuoteMessage and display what you will send to the customer for me to see\n\nUse the GetProjects tool get projects for. the current contractor by using the mobile number as the filter for each record.  ContractorID\n\nIf ProjectID is provided, please use as an additional filter the results and create a JSON Object called CurrentProject\n\nUse the AddProject tool to create a new project entry\n\nUse the AddEntry tool to create a timesheet entry for defined projects\n\nUse the GetTimesheet tool to list time spent against each project. \n\nUse GetExpenses tool to generate statement of expenses by project\n\nUse AddExpense Item to add an Expenses Item record\n\nAlways use the 'from' field from the WhatsApp TriggerNode for all filters\n\n "}},"id":"ce9eb815-3584-45d9-87e2-07d6a636f955","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[2140,640],"typeVersion":1.6},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1960,900],"id":"e065d234-f455-4960-ba6f-9ffeed2345a1","name":"OpenAI Chat Model"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c91677aa-4066-46da-b71a-0d9c375adc7c","leftValue":"={{ $json.text.body }}","rightValue":"=/https/","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[220,1120],"id":"bb04f958-00f9-42fc-bcd0-d73d2e326a68","name":"If"},{"parameters":{"url":"=https://r.jina.ai/{{ $json.text.body }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer jina_ef72f1160c844c88b7c776e7d34bd850VDuNZjowbVGHiPEbR_zgGZPwSj9W"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,1100],"id":"c00ab689-13a7-4ac9-9b31-acdadb6b970d","name":"HTTP Request"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"data\":  \"{{ $json.text.body }}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,1360],"id":"92ec9741-9e8c-42d2-940a-c5929c6f38a9","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1020,1340],"id":"673183a4-ad93-4022-9a8d-b28602b48e57","name":"OpenAI Chat Model1"},{"parameters":{"operation":"getAll","tableId":"Customers","returnAll":true,"filterType":"none"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2040,1480],"id":"377a25f7-a68e-4bcb-96e0-b364c3f79bf6","name":"GetCustomers","credentials":{"supabaseApi":{"id":"VfP7Ap49UiVac6tG","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"Projects","returnAll":true},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1860,1480],"id":"c61e9a07-ac38-4349-bd88-a6130c942444","name":"GetProjects","credentials":{"supabaseApi":{"id":"VfP7Ap49UiVac6tG","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"Contractors"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1700,1480],"id":"f38e3724-c4aa-4256-b851-1527e71fe85b","name":"GetContractors","credentials":{"supabaseApi":{"id":"VfP7Ap49UiVac6tG","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://usooxxmbyghmtxffiwqs.supabase.co/storage/v1/object/ReceiptFiles/{{ $json.id }}.jpg","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVzb294eG1ieWdobXR4ZmZpd3FzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDA1NzkwMTMsImV4cCI6MjA1NjE1NTAxM30.ZlayB05-N9rX8OSCU2PDIdabJ3u_HN-0xo2mgydzvfc"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"=data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,820],"id":"a78efb36-800a-4d2b-a8e3-37172bece91c","name":"HTTP Request1"},{"parameters":{"url":"={{ $('Get Image URL').item.json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"651631ff-ea15-4b1e-9549-fea20989028e","name":"Download Image1","type":"n8n-nodes-base.httpRequest","position":[780,800],"typeVersion":4.2},{"parameters":{"tableId":"Customers","fieldsUi":{"fieldValues":[{"fieldId":"ContractorID","fieldValue":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}"},{"fieldId":"CustomerName","fieldValue":"={{ $fromAI('CustomerName', ``, 'string') }}"},{"fieldId":"Postcode","fieldValue":"={{ $fromAI('CustomerPostcode', ``, 'string') }}"},{"fieldId":"CustomerEmail","fieldValue":"={{ $fromAI('CustomerEmail', ``, 'string') }}"},{"fieldId":"CustomerMobile","fieldValue":"={{ $fromAI('CustomerMobile', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2140,1360],"id":"e36186aa-d9d1-413e-b7c1-8151cb550f86","name":"AddCustomer","credentials":{"supabaseApi":{"id":"VfP7Ap49UiVac6tG","name":"Supabase account"}}},{"parameters":{"tableId":"Projects","fieldsUi":{"fieldValues":[{"fieldId":"ContractorID","fieldValue":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}"},{"fieldId":"ProjectName","fieldValue":"={{ $fromAI('ProjectName', ``, 'string') }}"},{"fieldId":"ProjectDescr","fieldValue":"={{ $fromAI('ProjectDescription', ``, 'string') }}"},{"fieldId":"CustomerID","fieldValue":"={{ $fromAI('CustomerID', `Find CustomerID from GetCustomers Tool`, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1940,1360],"id":"fa7dd454-3688-4513-861c-3c432ec88322","name":"AddProject","credentials":{"supabaseApi":{"id":"VfP7Ap49UiVac6tG","name":"Supabase account"}}},{"parameters":{"tableId":"ExpenseItems","fieldsUi":{"fieldValues":[{"fieldId":"ExpenseDate","fieldValue":"={{ $fromAI('Date') }}"},{"fieldId":"Total","fieldValue":"={{ $fromAI('TotalAmount') }}"},{"fieldId":"ProjectID","fieldValue":"={{ $fromAI('ProjectID', `Use the GetProjects Tool filtering by using the messages.from JSON value provided by the WhatsApp Trigger node`, 'string') }}"},{"fieldId":"VAT","fieldValue":"={{ $fromAI('VAT', `Use the **Vat Amount**`, 'string') }}"},{"fieldId":"Payee","fieldValue":"={{ $fromAI('Payee', `Use the **Payee** value defined `, 'string') }}"},{"fieldId":"ContractorID","fieldValue":"={{ $json.from }}"},{"fieldId":"Description","fieldValue":"={{ $fromAI('Description', `**Description**`, 'string') }}"},{"fieldId":"ReceiptItem","fieldValue":"={{ $('Download Image1').item.json.Key }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2380,1340],"id":"2402232d-b28e-43af-9397-678ef7f7e0d3","name":"AddExpense","credentials":{"supabaseApi":{"id":"VfP7Ap49UiVac6tG","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"ExpenseItems","returnAll":true},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2320,1520],"id":"4304a624-86cd-4275-94cb-a2535210f2dc","name":"GetExpenses","credentials":{"supabaseApi":{"id":"VfP7Ap49UiVac6tG","name":"Supabase account"}}},{"parameters":{"tableId":"TimesheetEntries","fieldsUi":{"fieldValues":[{"fieldId":"ContractorID","fieldValue":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}"},{"fieldId":"ProjectID","fieldValue":"={{ $fromAI('ProjectID', `Find the NUMERIC ProjectID from the prompt`, 'string') }}"},{"fieldId":"EntryDate","fieldValue":"={{ $fromAI('EntryDate', ``, 'string') }}"},{"fieldId":"TimeSpent","fieldValue":"={{ $fromAI('TimeSpent', ``, 'string') }}"},{"fieldId":"TimeUnit","fieldValue":"={{ $fromAI('TimeUnit', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2540,1360],"id":"49c22ff8-d53d-4566-88e2-98deac149cef","name":"AddEntry","credentials":{"supabaseApi":{"id":"VfP7Ap49UiVac6tG","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"TimesheetEntries"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2440,1480],"id":"5d29b5b5-2ea7-4cee-bdff-2cfefaf0e1e1","name":"GetTimesheet","credentials":{"supabaseApi":{"id":"VfP7Ap49UiVac6tG","name":"Supabase account"}}},{"parameters":{"tableId":"Quotes","fieldsUi":{"fieldValues":[{"fieldId":"ContractorID","fieldValue":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}"},{"fieldId":"CustomerID","fieldValue":"={{ $fromAI('CustomerID', ``, 'string') }}"},{"fieldId":"=QuoteName","fieldValue":"={{ $fromAI('QuoteName', ``, 'string') }}"},{"fieldId":"QuoteDescr","fieldValue":"={{ $fromAI('QuoteDescription', ``, 'string') }}"},{"fieldId":"Amount","fieldValue":"={{ $fromAI('Amount', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2100,1680],"id":"c65cff2e-611f-48c9-af86-ffbd2e59273b","name":"AddQuote","credentials":{"supabaseApi":{"id":"VfP7Ap49UiVac6tG","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"Quotes","returnAll":true},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2220,1680],"id":"3dd82a32-b410-446b-a0b2-427317a509e5","name":"GetQuotes","credentials":{"supabaseApi":{"id":"VfP7Ap49UiVac6tG","name":"Supabase account"}}},{"parameters":{"tableId":"Messages","fieldsUi":{"fieldValues":[{"fieldId":"ContractorID","fieldValue":"={{ $fromAI('ContractorID', ``, 'string') }}"},{"fieldId":"CustomerEmail","fieldValue":"={{ $fromAI('CustomerEmail', ``, 'string') }}"},{"fieldId":"QuoteID","fieldValue":"={{ $fromAI('QuoteID', ``, 'string') }}"},{"fieldId":"QuoteMessage","fieldValue":"={{ $fromAI('QuoteMessage', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2380,1680],"id":"464450e0-48da-4720-b9b2-17d009cf729d","name":"SendQuote","credentials":{"supabaseApi":{"id":"VfP7Ap49UiVac6tG","name":"Supabase account"}}},{"parameters":{"content":"## **Current Model Tools:**\n*AddProject/Expense/Customer/Entry/Quote\n*GetContractors\n*GetCustomers\n*GetQuotes/Projects/Timesheet/Expenses\n\n\n## **Current Customer Tools:**\n\n*“Add Customer John Smith 01234 617676 john@me.com AL6 7NB”\n\n*“Add Quote for John Smith for New Bathroom.  Remove existing units, make good, retile and fit new units.  Total 1500 pounds”\n\n*“Send New Bathroom Quote to John Smith”\n\n*“Add Project “New Bathroom” for John Smith using New Bathroom Quote”\n\n*“Add timesheet entry for 1 day on 28th Feb 2025 to New Bathroom Project”\n\n*“Add photo as expense receipt to New Bathroom Project” - attach photo or take photo in WhatsApp\n\n*“List Expenses for New Bathroom Project”\n*“List Timesheet”\n*“List All Expenses”\n*“List Customers”\n*“List Projects”\n\n**Future Tools:**\n* Generate Statement\n* Send statement to Customer\n* Generate invoice\n* Send invoice to customer\n* Mark invoice paid\n* Generate Accounts Export\n","height":780,"width":580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2660,1260],"id":"d61d569e-11d4-4a55-b988-85a9b1af25ad","name":"Sticky Note"}],"connections":{"AI Agent":{"main":[[{"node":"Respond to User","type":"main","index":0}]]},"Get Text":{"main":[[{"node":"If","type":"main","index":0}]]},"Get Audio URL":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Get Image URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Get Video URL":{"main":[[{"node":"Download Video","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Google Gemini Audio","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Google Gemini Video","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Get User's Message","type":"main","index":0}]]},"Image Explainer":{"main":[[{"node":"Get User's Message","type":"main","index":0}]]},"Text Summarizer":{"main":[[{"node":"Get User's Message","type":"main","index":0}]]},"Format Response1":{"main":[[{"node":"Get User's Message","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Split Out Message Parts","type":"main","index":0}]]},"Get User's Message":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Audio":{"main":[[{"node":"Format Response1","type":"main","index":0}]]},"Google Gemini Video":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Redirect Message Types":{"main":[[{"node":"Get Audio URL","type":"main","index":0}],[{"node":"Get Video URL","type":"main","index":0}],[{"node":"Get Image URL","type":"main","index":0}],[{"node":"Get Text","type":"main","index":0}]]},"Split Out Message Parts":{"main":[[{"node":"Redirect Message Types","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Image Explainer","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Text Summarizer","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Text Summarizer","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Text Summarizer","type":"ai_languageModel","index":0}]]},"GetCustomers":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GetProjects":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GetContractors":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"HTTP Request1":{"main":[[{"node":"Download Image1","type":"main","index":0}]]},"Download Image1":{"main":[[{"node":"Image Explainer","type":"main","index":0}]]},"AddCustomer":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AddProject":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AddExpense":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GetExpenses":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AddEntry":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GetTimesheet":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AddQuote":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GetQuotes":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"SendQuote":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"WhatsApp Trigger":[{"json":{"messaging_product":"whatsapp","metadata":{"display_phone_number":"15551468559","phone_number_id":"608566788999605"},"contacts":[{"profile":{"name":"Alexis"},"wa_id":"447801517640"}],"messages":[{"from":"447801517640","id":"wamid.HBgMNDQ3ODAxNTE3NjQwFQIAEhgWM0VCMDIxMTEwNjUwQ0U0N0M1NDdGNgA=","timestamp":"1740762096","text":{"body":"list my customers"},"type":"text"}],"field":"messages"}}]},"versionId":"6f414bf8-ebf0-4048-aa5c-fff55af4bc41","triggerCount":0,"tags":[{"createdAt":"2025-03-17T15:23:27.322Z","updatedAt":"2025-03-17T15:23:27.322Z","id":"tKQiS9MPqCKYSmp3","name":"WhatsApp"}]}