drive-to-pinecone-IQJI6rAH2JuvrPOG.json
{"createdAt":"2025-03-17T21:25:10.445Z","updatedAt":"2025-03-18T16:24:01.199Z","id":"IQJI6rAH2JuvrPOG","name":"Drive to Pinecone","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1mvNlKvTPII3fELU-Gc8YyuZs6kwH4Ok8","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://drive.google.com/drive/folders/1mvNlKvTPII3fELU-Gc8YyuZs6kwH4Ok8"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-480,-220],"id":"36d311a5-efe0-4af6-9723-8f611f2659de","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"JV5C7E6DaOtd5U1S","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-220,-220],"id":"3ddeac97-47cd-42d0-9700-0b496535d1ff","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"JV5C7E6DaOtd5U1S","name":"Google Drive account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[0,-220],"id":"cda8214d-ab67-4691-ba65-701ca5827655","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"qOAgXFeI0SiVoEOl","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-100,40],"id":"16c42218-450a-44fc-be23-107e1686bbae","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"AmDuzoWinEGJmo2v","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[140,0],"id":"7463cadb-4121-4c28-88b5-bd1793064a2a","name":"Default Data Loader"},{"parameters":{"chunkOverlap":20,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[240,220],"id":"a8e025ea-25c7-40fc-b1c4-23858fab1117","name":"Recursive Character Text Splitter"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3be53970-8346-4329-a196-ce1d930507b3","triggerCount":0,"tags":[]}