image-generator-S5YXjvErvxumXedU.json
{"createdAt":"2025-03-18T16:28:49.736Z","updatedAt":"2025-03-18T17:12:13.588Z","id":"S5YXjvErvxumXedU","name":"Image generator","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-500,0],"id":"2bf91c15-3f3e-4de4-9e37-c80209b2cd61","name":"When Executed by Another Workflow"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[300,0],"id":"9fc52e70-aacc-458a-ad55-c0e388cf07f8","name":"Wait","webhookId":"3041bd0f-bdce-45c4-b60b-e297bc094c54"},{"parameters":{"method":"POST","url":"https://api.us1.bfl.ai/v1/flux-pro-1.1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-key","value":"0b21b3fd-ad8c-48dc-9e3d-cb3ee3d1ea59"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.message.content.prompt }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,0],"id":"665385e6-8c82-412f-ab31-44b23aff22c3","name":"Request new image"},{"parameters":{"url":"=https://api.us1.bfl.ai/v1/get_result?id={{ $('Request new image').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-key","value":"0b21b3fd-ad8c-48dc-9e3d-cb3ee3d1ea59"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,0],"id":"b789ac64-42a8-43b8-9849-f50dc653faf1","name":"Get new image"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"you specialise in turning query into a structure prompt output and outputting your response in json.\n\nThe user response looks like this, here's an example:\n[\n {\n   \"query\": \"A cute fluffy bunny sitting in a grassy meadow, surrounded by colorful wildflowers. The bunny has soft white fur, big round eyes, and long ears, with a gentle smile. The background features a clear blue sky with a few fluffy clouds, creating a serene and cheerful atmosphere.\"\n }\n]\n\noutput a json object of whatever is inside the query parameter.\n\nExample output\n\n{\n   \"prompt\": \"A cute fluffy bunny sitting in a grassy meadow, surrounded by colorful wildflowers. The bunny has soft white fur, big round eyes, and long ears, with a gentle smile. The background features a clear blue sky with a few fluffy clouds, creating a serene and cheerful atmosphere.\"\n }","role":"system"},{"content":"={{ $json.query }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-320,0],"id":"3e677a49-b1dc-4499-a1a9-ebd7f0667403","name":"OpenAI","credentials":{"openAiApi":{"id":"AmDuzoWinEGJmo2v","name":"OpenAi account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Request new image":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get new image","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Request new image","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"750c5993-747c-4270-9521-0fb38c0bb826","triggerCount":0,"tags":[]}