loop-58r6uvm7tGD1wQaD.json
{"createdAt":"2025-03-20T11:37:44.232Z","updatedAt":"2025-03-20T15:14:22.760Z","id":"58r6uvm7tGD1wQaD","name":"loop","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1220,-60],"id":"11935eef-158a-4a99-855b-7a9559435ddf","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appJxpgbdHcNALo2f","mode":"list","cachedResultName":"Pizza Place","cachedResultUrl":"https://airtable.com/appJxpgbdHcNALo2f"},"table":{"__rl":true,"value":"tblA6ZaBSveok3TEA","mode":"list","cachedResultName":"Orders","cachedResultUrl":"https://airtable.com/appJxpgbdHcNALo2f/tblA6ZaBSveok3TEA"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1000,-60],"id":"2640d883-9dfd-4997-9f0b-d7f694f936c8","name":"Airtable","credentials":{"airtableTokenApi":{"id":"0GkuxnhB6S6BrUGB","name":"Airtable Personal Access Token account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-780,-60],"id":"3d7e5a3d-7342-4d18-bae0-3b66d62aa384","name":"Loop Over Items"},{"parameters":{"sendTo":"domenico@opta6.com","subject":"test","message":"={{ $json.Name }} ordered a {{ $json.Size }} {{ $json.Pizza }} pizza!","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-400,60],"id":"0541faa9-1a24-4279-85bb-0104ccaf0111","name":"Gmail","webhookId":"f9770927-efa3-4e91-83e6-395278d68a9d","credentials":{"gmailOAuth2":{"id":"zAwtgxnsfHWk268G","name":"Gmail account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fbe78a83-37b1-41db-8919-9198cbe70875","triggerCount":0,"tags":[]}