my-workflow-BCBo5WTRxLCWOtCg.json
{"createdAt":"2025-03-25T09:29:04.632Z","updatedAt":"2025-03-25T14:33:41.466Z","id":"BCBo5WTRxLCWOtCg","name":"My workflow","active":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-960,-100],"id":"9f012239-6c6c-4ced-9ca1-8d576336a766","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"33f5866b-4595-4954-9132-6c2dcb95f188","name":"commitDate","value":"={{ $now.format('dd-MM-yyyy/H:mm') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-740,-100],"id":"8c865602-93ea-4f50-a9fa-81457345053e","name":"Set Date"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/Zhal73","mode":"url"},"repository":{"__rl":true,"value":"minikube_N8N_backup","mode":"list","cachedResultName":"minikube_N8N_backup","cachedResultUrl":"https://github.com/Zhal73/minikube_N8N_backup"}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[-480,-100],"id":"5d4389b2-cd1d-4a46-9099-d920c2b71121","name":"List files from repository [GITHUB]","credentials":{"githubOAuth2Api":{"id":"AXpsNfq2gr5z1dCo","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-260,-100],"id":"90a1203b-cbad-4315-a612-6b543403c8bc","name":"Aggregate"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-20,-100],"id":"e9ccaee7-6f9d-42d1-90f8-e91fb27f291b","name":"Retrieve workflow","credentials":{"n8nApi":{"id":"OPJ4cwPCWx879W6k","name":"n8n account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[200,-100],"id":"653ac9e1-ff17-4153-b37b-c7f78bd768a4","name":"Convert to File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[480,-100],"id":"d47fab6f-1e09-4002-85a7-1813b3bf0201","name":"Loop Over Items"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/Zhal73","mode":"url"},"repository":{"__rl":true,"value":"minikube_N8N_backup","mode":"list","cachedResultName":"minikube_N8N_backup","cachedResultUrl":"https://github.com/Zhal73/minikube_N8N_backup"},"binaryData":true},"type":"n8n-nodes-base.github","typeVersion":1,"position":[920,100],"id":"9b81554f-d74e-4fbe-9a1b-0d1e01ff2b21","name":"GitHub","credentials":{"githubOAuth2Api":{"id":"AXpsNfq2gr5z1dCo","name":"GitHub account"}},"disabled":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0},{"node":"Set Date","type":"main","index":0}]]},"Set Date":{"main":[[]]},"List files from repository [GITHUB]":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Retrieve workflow","type":"main","index":0}]]},"Retrieve workflow":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/London","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cdaa38e2-9951-4cb4-a507-9a21fb63e810","triggerCount":0,"tags":[]}