process-orders-czM0A3l3DfEbgzHX.json
{"createdAt":"2025-03-17T16:55:31.391Z","updatedAt":"2025-03-17T17:19:27.237Z","id":"czM0A3l3DfEbgzHX","name":"Process Orders","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,-40],"id":"f772b2e0-3188-41ac-800f-6b0db1357acf","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appJxpgbdHcNALo2f","mode":"list","cachedResultName":"Pizza Place","cachedResultUrl":"https://airtable.com/appJxpgbdHcNALo2f"},"table":{"__rl":true,"value":"tblA6ZaBSveok3TEA","mode":"list","cachedResultName":"Orders","cachedResultUrl":"https://airtable.com/appJxpgbdHcNALo2f/tblA6ZaBSveok3TEA"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-180,-40],"id":"81ace9c5-a6d3-4590-adae-397567d0afe9","name":"Airtable","credentials":{"airtableTokenApi":{"id":"0GkuxnhB6S6BrUGB","name":"Airtable Personal Access Token account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4b315f66-84f3-4a50-87db-da4ba6160d7a","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"bf5ff8e1-5938-4a25-ad21-0f8683995773","name":"Name","value":"={{ $json.Name.toUpperCase() }}","type":"string"},{"id":"91cd4503-128f-4de7-878f-15fb8a7a68cf","name":"Pizza","value":"={{ $json.Pizza }}","type":"string"},{"id":"ad15ad17-350e-4b4a-bb49-3f785c5c3c83","name":"Size","value":"={{ $json.Size }}","type":"string"},{"id":"92e17cc6-7c35-42c3-8f1e-35973efeadae","name":"=Summary","value":"=Order was processed.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,-220],"id":"252b7aa9-6a98-4500-b927-30b925c3fd8a","name":"Edit Fields"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appJxpgbdHcNALo2f","mode":"list","cachedResultName":"Pizza Place","cachedResultUrl":"https://airtable.com/appJxpgbdHcNALo2f"},"table":{"__rl":true,"value":"tblA6ZaBSveok3TEA","mode":"list","cachedResultName":"Orders","cachedResultUrl":"https://airtable.com/appJxpgbdHcNALo2f/tblA6ZaBSveok3TEA"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Name":"={{ $json.Name }}","Pizza":"={{ $json.Pizza }}","Size":"={{ $json.Size }}","Summary":"={{ $json.Summary }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Pizza","displayName":"Pizza","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Size","displayName":"Size","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[760,-220],"id":"f417043a-bff9-4b8c-886e-c7f195ecd0a3","name":"Airtable1","credentials":{"airtableTokenApi":{"id":"0GkuxnhB6S6BrUGB","name":"Airtable Personal Access Token account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4b315f66-84f3-4a50-87db-da4ba6160d7a","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"bf5ff8e1-5938-4a25-ad21-0f8683995773","name":"Name","value":"={{ $json.Name.toUpperCase() }}","type":"string"},{"id":"91cd4503-128f-4de7-878f-15fb8a7a68cf","name":"Pizza","value":"={{ $json.Pizza }}","type":"string"},{"id":"ad15ad17-350e-4b4a-bb49-3f785c5c3c83","name":"Size","value":"={{ $json.Size }}","type":"string"},{"id":"92e17cc6-7c35-42c3-8f1e-35973efeadae","name":"=Summary","value":"=Order was cancelled.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,-40],"id":"9f0e27a0-e576-4fea-9f00-f88e315368ab","name":"Edit Fields1"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appJxpgbdHcNALo2f","mode":"list","cachedResultName":"Pizza Place","cachedResultUrl":"https://airtable.com/appJxpgbdHcNALo2f"},"table":{"__rl":true,"value":"tblA6ZaBSveok3TEA","mode":"list","cachedResultName":"Orders","cachedResultUrl":"https://airtable.com/appJxpgbdHcNALo2f/tblA6ZaBSveok3TEA"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Name":"={{ $json.Name }}","Pizza":"={{ $json.Pizza }}","Size":"={{ $json.Size }}","Summary":"={{ $json.Summary }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Pizza","displayName":"Pizza","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Size","displayName":"Size","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[760,-40],"id":"dc9a45bc-1f2f-42d3-8432-8859df6a2299","name":"Airtable2","credentials":{"airtableTokenApi":{"id":"0GkuxnhB6S6BrUGB","name":"Airtable Personal Access Token account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Size }}","rightValue":"Small","operator":{"type":"string","operation":"equals"},"id":"45e9aa6d-b62c-4591-8ca8-fa8a568352b6"}],"combinator":"and"},"renameOutput":true,"outputKey":"Small"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ce13c97-2333-4c99-8315-eb8252419abb","leftValue":"={{ $json.Size }}","rightValue":"Medium","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Medium"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3948c76-34af-419b-aa40-aed18189053b","leftValue":"={{ $json.Size }}","rightValue":"Large","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Large"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[40,-40],"id":"6136b8b4-d750-47d4-8e4a-42b990d9136c","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"4b315f66-84f3-4a50-87db-da4ba6160d7a","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"bf5ff8e1-5938-4a25-ad21-0f8683995773","name":"Name","value":"={{ $json.Name.toUpperCase() }}","type":"string"},{"id":"91cd4503-128f-4de7-878f-15fb8a7a68cf","name":"Pizza","value":"={{ $json.Pizza }}","type":"string"},{"id":"ad15ad17-350e-4b4a-bb49-3f785c5c3c83","name":"Size","value":"={{ $json.Size }}","type":"string"},{"id":"92e17cc6-7c35-42c3-8f1e-35973efeadae","name":"=Summary","value":"=Processing the order.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,200],"id":"7e41f441-5118-45ff-8310-126e98edff48","name":"Edit Fields2"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appJxpgbdHcNALo2f","mode":"list","cachedResultName":"Pizza Place","cachedResultUrl":"https://airtable.com/appJxpgbdHcNALo2f"},"table":{"__rl":true,"value":"tblA6ZaBSveok3TEA","mode":"list","cachedResultName":"Orders","cachedResultUrl":"https://airtable.com/appJxpgbdHcNALo2f/tblA6ZaBSveok3TEA"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Name":"={{ $json.Name }}","Pizza":"={{ $json.Pizza }}","Size":"={{ $json.Size }}","Summary":"={{ $json.Summary }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Pizza","displayName":"Pizza","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Size","displayName":"Size","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[780,200],"id":"83d0774e-4573-4ff7-8905-1f2eded8f4ce","name":"Airtable3","credentials":{"airtableTokenApi":{"id":"0GkuxnhB6S6BrUGB","name":"Airtable Personal Access Token account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Airtable1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Airtable2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Airtable3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"719d3b85-ea89-4a83-a1e8-f02b4e19c786","triggerCount":0,"tags":[]}